:root{
    --theme: #333333;
    --theme-dark: #1a1a1af5;
}
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333333ef; */
    padding: 0.65rem;
    margin: 0em 7em;
}
.mainLogo{
    display: flex;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 1rem;
    color: #dfdfdf;
    align-items: center;
    user-select: none;
    cursor: context-menu;
}
.btn, .btn:focus{
    background-color: #333333;
    color: white;
    border-radius: 0.8rem;
    outline: none;
    padding: 0.8rem;
    text-decoration: none;
    margin: 0.5em;
    font-size: 1rem;
}
.btn:hover{
    background-color: #666666;
}
#icons{
    font-size: 1.5em;
    margin: 0.25em;
}
#menu{
    color: white;
    font-size: 1.5em;
    transition: ease-in all 0.2s;
}
#menu:active{
    transform: rotate(180deg);
}
.burgMenu{
    display: flex;
    z-index: 9999999;
}
.burgContainer{
    display: flex;
    position: fixed;
    flex-direction: column;
}
.btnM{
        background-color: var(--theme);
        color: white;
        border-radius: 0.8rem;
        outline: none;
        padding: 0.8rem;
        text-decoration: none;
        margin: 0.5em;
        font-size: 1rem;
}
.menu-mobile{
    color: white;
}
.menu-mobile-passive{
    opacity: 0;
}
.backdrop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background-color: var(--theme-dark);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.backdrop-none{
    display: none;

}
.btnM, .btnM:focus{
    display: flex;
    justify-content: flex-start;
    background-color: #333333;
    color: white;
    border-radius: 0.8rem;
    outline: none;
    padding: 2rem;
    text-decoration: none;
    margin: 1em;
    font-size: 1rem;
}
.btnM:hover{
    background-color: #666666;
}
#iconsM{
    font-size: 2em;
    margin: 0 1rem;
}
.desktop-nav{
    display: none;
}
@media(min-width: 1050px){
    .desktop-nav{
        display: block;
    }
    .burgMenu{
        display: none;
    }
}
@media (max-width: 721px){
    .mainLogo{
        display: flex;
        justify-content: space-evenly;
        margin: 0em -9em;
        transform: scale(0.7);
    }
    .burgMenu{
        margin: 0em -5em;
    }
}