.SecDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(37, 37, 37, 0.45);
    height: 100vh;
    margin-top: 6.5rem;
    color: aliceblue;
    overflow: hidden;
}

.secGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12rem 4rem;
}

.grid {
    display: flex;
}

.grid i {
    font-size: 8rem;
    margin: -2rem 0.85rem;
    /* background: -webkit-linear-gradient(blue, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: greenyellow;
}

.grid i:nth-child() {}

.grid-text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .secGrid {}
    .grid {
        transform: scale(0.8);
        margin: -3rem 0;
    }
}