.head-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dfdfdf;
    font-family: 'Poppins';
    z-index: -2;
    --animate-duration: 0.8s;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: context-menu;
    user-select: none;
}
@media (max-width: 1200px){
    .head-title{
        display: flex;
        flex-direction: column;
        margin: -5rem 0;
        transform: scale(0.85);
    }
    .logo{
        margin: -4rem 0;
    }
}
@media (max-width: 721px){
    .head-title{
        transform: scale(0.7);
    }
}
